@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}



 body{
color: #fafafa;
background-color: white;
overflow-x: hidden;
}	 
	  



a {
  text-decoration: none;
  color: orange;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  

}

.logo {
  font-size: 1.8rem;
  color: orange;
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger, .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;

}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  
}

.nav__link a:hover {
  background-color: lightcoral;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

 .hamburger {
    display: none;
  }



.home-container{

display:flex;
 height:100vh;
 border-radius: 40px;
box-shadow: 5px 5px 13px -1px rgba(0,0,0,.2);
background-color: royalblue;
}

	
.hero-container{
display:flex;


}



.hero-image-container img{
 height:80vh;
}


.hero-text{
margin: 8rem;
align-content: center;
align-items: flex-start;
}
	


.hero-text p{
margin: 20px 0 0;
width: 100%;
}	

.hero-text p:first-child {
  color: orange;
  font-size: 60px;
  font-weight: 700;
}

.hero-text p:nth-child(2) {
  color: black;
  font-weight: 700;
  font-size: 32px;
}


.resume-container{

 justify-content: center;

padding: 2rem; 

}

.home-resume-view{
color: var(--bg);
font-weight: 500;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
font-size: 18px;
width: 150px;
height: 40px;
border-radius: 10px;
background: linear-gradient(180deg,#f87537,#fba81f);
transition: transform .2s ease;
}

#About{
margin-top: 5rem;
margin-bottom: 5rem;	
background-color: royalblue;
height:50vh;
width:auto;
}


.about-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.about-description{
margin-left:auto;
margin-right:auto;
box-shadow: 5px 5px 13px -1px rgba(0,0,0,.2);

width:50%;
height:50vh;
 border-radius: 10px;
}


.about-description h1{
	color:orange;
font-size: 4rem;	
}


.about-description h2 {
color:orange;
font-size: 2rem;	
	
}

.about-description p {


font-size: 1.5rem;	
	
}



#Projects{
  display: flex;
    flex-direction: column;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
  box-shadow: 5px 5px 13px -1px rgba(0,0,0,.2);
background-color: royalblue;
  
}

#Projects h1{
	    font-size: 4rem;
		 font-family: cursive;
		 color: orange;	 
  }

.project-header{
	margin:auto;
	padding:auto;
}

.home-icons, .home-icons1{
display: flex;
align-items: center;
	
}
.home-icons{
  justify-content: space-between;
  width: 100%;

 background: var(--bg);
 padding: 4rem;
}	
	

.home-icons1{
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 400px;
  background: var(--bg);
  border-radius: 10px;
  box-shadow: 5px 5px 13px -1px rgba(0,0,0,.2);
  background-color: royalblue;
}
.home-icons1 a{
text-align: center;
color: var(--oj);

}

.home-icons1 p{
color: var(--white);
  text-align: center;
  padding: 2rem;
  font-weight: 1.5rem;
  font-size:1.2rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
